    @font-face {
        font-family: "VT323";
        src: url(VT323-Regular.ttf) format("truetype");
    }

    body {
        background-color: #000000;
        color: #FFFFFF;
        font-family: 'monospace', sans-serif;
        font-size: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vt323-regular {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
    }


    .container {
    }
    .credits {
        margin: 50px 0;
    }
    .credits:first-child {
        height: 100vh; /* Full viewport height */
        margin: 0; /* Override default margin for the first child */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .credits:not(:first-child) {
        margin: 50vh 0; /* This changes the top and bottom margin to 100vh, effectively making each credits div one screen apart */
    }
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 84px;
    }
    .row {
    display: flex;
    justify-content: space-between;
    }
    .column, .participant-column {
    flex: 33.33%;
    padding: 5px;
    margin: 0 20px;
    }
    a {
        color: inherit; /* Makes the link inherit the text color */
        text-decoration: none; /* Removes the underline from links */
    }


    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */

        top: 0;
        width: 300px; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .modal-content {
        background-color: #161616;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
    }